name: README build
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"  # Runs daily at 4 AM UTC
  workflow_dispatch:  # Allows manual triggering

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4  # Updated version
        with:
          fetch-depth: 1
          
      - name: Get Python 3.8
        uses: actions/setup-python@v4  # Updated version
        with:
          python-version: '3.8'
          
      - name: Configure pip cache
        uses: actions/cache@v3  # Updated version
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/cache/requirements.txt') }}
          restore-keys: ${{ runner.os }}-pip-
          
      - name: Install dependencies
        run: python -m pip install -r cache/requirements.txt
        
      - name: Update README file
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          USER_NAME: ${{ secrets.USER_NAME }}
        run: python today.py
        
      - name: Commit and push changes
        run: |-
          git add .
          git diff --staged
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git commit -m "Update GitHub stats [automated]" -a || echo "No changes to commit"
          git push
